body{
	background-image: url("https://cdn.hipwallpaper.com/i/96/80/pvTScA.jpg");
    background-position: center;
    background-size: cover;
}
#myCanvas
{
	background-image: url("https://i.pinimg.com/originals/a6/1c/b7/a61cb759cc06e5a0011dc7a4bcf379d2.jpg");
	background-color: red; 
	border-style:ridge;
}

h1,h4,h6
{
	color: white !important;
}